.my-input {
  width: 90%;
}

.ibox-body {
  overflow: auto;
  padding-bottom: 60px;
}

.mapper {
  position:absolute;
  float: right;
  width: 50%;
  height:350px;
}

.map{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background: #ccc;
}

.pointer{
  position:absolute;
  left:50%;
  top:50%;
  width:8px;
  height:8px;
  border-radius:50%;
  background: red;
}
