<div class="ibox">
  <div class="ibox-head">
    <h1 class="ibox-title">Προσθήκη νέου καταστήματος</h1>
  </div>
  <div class="ibox-body">

    <div *ngIf="!success" >
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" accept-charset="ISO-8859-1">
        <label>
          Όνομα:
          <input type="text" name="name" formControlName="name" class="my-input">
          <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Το όνομα είναι απαραίτητο</div>
          </div>
        </label>

        <label>
          Διεύθυνση:
          <input type="text" name="address" value="{{address}}" formControlName="address" class="my-input">
          <div *ngIf="submitted && messageForm.controls.address.errors" class="error">
            <div *ngIf="messageForm.controls.address.errors.required">Η διεύθυνση είναι απαραίτητη</div>
          </div>
        </label>

        <label>
          Γεωγραφικό μήκος:
          <input type="text" name="lng" value="{{lng}}" formControlName="lng" class="my-input">
          <div *ngIf="submitted && messageForm.controls.lng.errors" class="error">
            <div *ngIf="messageForm.controls.lng.errors.required">Το γεωγραφικό μήκος είναι απαραίτητο</div>
          </div>
        </label>

        <label>
          Γεωγραφικό πλάτος:
          <input type="text" name="lat" value="{{lat}}" formControlName="lat" class="my-input">
          <div *ngIf="submitted && messageForm.controls.lat.errors" class="error">
            <div *ngIf="messageForm.controls.lat.errors.required">Το γεωγραφικό πλάτος είναι απαραίτητο</div>
          </div>
        </label>

        <label>
          Tags(παραθέστε στη μορφή α,β,γ):
          <input type="text" name="tags" formControlName="tags" class="my-input">
          <div *ngIf="submitted && messageForm.controls.tags.errors" class="error">
            <div *ngIf="messageForm.controls.tags.errors.required">Τα tags είναι απαραίτητα</div>
          </div>
        </label>

        <input type="submit" value="Προσθήκη" class="cta">

      </form>
    </div>


    <div *ngIf="success" class="results">     <h1 *ngIf="success"><strong>Προσθήκη επιτυχής!</strong></h1>
      <h3>Προϊόν:</h3>
      <table class="table table-striped table-bordered table-hover" id="shop-table" cellspacing="0" width="30%">
        <tr>
          <th>Id</th>
          <td>{{shop.id }}</td>
        </tr>
        <tr>
          <th>Όνομα</th>
          <td>{{shop.name }}</td>
        </tr>
        <tr>
          <th>Διεύθυνση</th>
          <td>{{shop.address }}</td>
        </tr>
        <tr>
          <th>Γεωγραφικό μήκος</th>
          <td>{{shop.lng }}</td>
        </tr>
        <tr>
          <th>Γεωγραφικό πλάτος</th>
          <td>{{shop.lat }}</td>
        </tr>
        <tr>
          <th>Ανενεργό</th>
          <td>{{shop.withdrawn }}</td>
        </tr>
        <tr>
          <th>Tags</th>
          <td>{{shop.tags }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

