<h1>Προιόντα</h1>

<p>Φίλτρα Προβολής: </p>

<label>
  Εμφάνισε:
  <select id="st" (change)="onStatusSelect($event)" >
    <option *ngFor="let st of status" [value]="st">
      {{ st }}
    </option>
  </select>
</label>

<label>
  Ταξινόμησε:
  <select id="so" (change)="onSortSelect($event)" >
    <option *ngFor="let so of sort" [value]="so">
      {{ so }}
    </option>
  </select>
</label>


<br>
<br>


<table *ngIf="prods">
  <thead>
  <tr>
    <th>Id</th>
    <th>Όνομα</th>
    <th>Περιγραφή</th>
    <th>Κατηγορία</th>
    <th>Tags</th>
    <th>Επίλεξε ενέργεια</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor ="let prod of prods.products | paginate: { itemsPerPage: numItems, currentPage: p, totalItems: total } ">
    <td>{{ prod.id }}</td>
    <td>{{ prod.name }}</td>
    <td>{{ prod.description }}</td>
    <td>{{ prod.category }}</td>
    <td>{{ prod.tags }}</td>
    <td><a [routerLink] ="['/showprod']" [queryParams]="{ d1: prod.id, d2:prod.name, d3: prod.description, d4: prod.category, d5: prod.tags, d6: prod.withdrawn}"><button (click)="ShowClick( prod.id)">Εμφάνιση</button></a><button (click)="UpdateClick()">Ενημέρωση</button><button (click)="DeleteClick()">Διαγραφή</button></td>
  </tr>
  <input #box type="number" name="quantity" min="1" max="20" (change)= "numItems = box.value">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </tbody>
</table>

<br>
<br>
<!--<button (click)="firstClick()">Πρόσθεσε Προιόν</button> -->
<a routerLink="/about"><button class="btn btn-success pull-right" >Πρόσθεσε Προιόν</button></a>

