<div class="ibox">
  <div class="ibox-head">
    <h1 class="ibox-title">Σύνδεση</h1>
  </div>
  <div class="ibox-body" style="width: 30%">
    <div *ngIf="!success" >
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label class="input-container">
          <i class="fa fa-user icon"></i>
          <input type="text" placeholder="Όνομα χρήστη" formControlName="username" class="input-field">
          <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
            <div *ngIf="loginForm.controls.username.errors.required">Το όνομα χρήστη είναι απαραίτητο</div>
          </div>
        </label>

        <label class="input-container">
          <i class="fa fa-lock icon"></i>
          <input class="input-field" type="password" placeholder="Κωδικός" formControlName="password">
          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <div *ngIf="loginForm.controls.password.errors.required">Ο κωδικός είναι απαραίτητος</div>
          </div>
        </label>

        <input type="submit" value="Σύνδεση" class="cta" style="width: 100%;">

        <div style="text-align: center; margin-top:20px;">
          Νέος χρήστης; <a [routerLink]="['/register']" style="color:#4E022A;">Κάνε εγγραφή!</a>
        </div>
      </form>
    </div>

    <div *ngIf="logged">
      <h1><strong>Καλώς όρισες, {{username}}!</strong></h1>
    </div>

    <div *ngIf="!logged&&success">
      <h1><strong>Κάτι πήγε στραβά...</strong></h1>
      <a (click)="retry()" style="color:#4E022A;">Προσπάθησε ξανά</a>
    </div>
  </div>
</div>
