<h1>Χαρακτηριστικά Προιόντος</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <label>
    Όνομα:
    <input type="text" name="name" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Το όνομα είναι απαραίτητο</div>
    </div>
  </label>

  <label>
    Περιγραφή:
    <input type="text" name="description" formControlName="description">
    <div *ngIf="submitted && messageForm.controls.description.errors" class="error">
      <div *ngIf="messageForm.controls.description.errors.required">Η περιγραφή είναι απαραίτητη</div>
    </div>
  </label>

  <label>
    Κατηγορία:
    <input type="text" name="category" formControlName="category">
    <div *ngIf="submitted && messageForm.controls.category.errors" class="error">
      <div *ngIf="messageForm.controls.category.errors.required">Η κατηγορία είναι απαραίτητη</div>
    </div>
  </label>

  <label>
    Tags(παραθέστε στη μορφή α,β,γ):
    <input type="text" name="tags" formControlName="tags">
    <div *ngIf="submitted && messageForm.controls.tags.errors" class="error">
      <div *ngIf="messageForm.controls.tags.errors.required">Τα tags είναι απαραίτητα</div>
    </div>
  </label>

  <input type="submit" value="Προσθήκη" class="cta">

</form>


<div *ngIf="success" class="results">
  <h1 *ngIf="success"><strong>Επιτυχής Προσθήκη</strong></h1>
  <strong>Όνομα:</strong>
  <span>{{ messageForm.controls.name.value }}</span>
  <strong>Περιγραφή:</strong>
  <span>{{ messageForm.controls.description.value }}</span>
  <strong>Κατηγορία:</strong>
  <span>{{ messageForm.controls.category.value }}</span>
  <strong>Tags:</strong>
  <span>{{ messageForm.controls.tags.value }}</span>
</div>

<!--<p *ngIf="success"><a [routerLink] ="['/showprod']" [queryParams]="{ d1: 0, d2: messageForm.controls.name.value, d3: messageForm.controls.description.value, d4: messageForm.controls.category.value, d5: messageForm.controls.tags.value, d6: false}"></a></p>
-->


