<h1>Χαρακτηριστικά Προιόντος</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Επιτυχής Προσθήκη</h5>

  <label>
    Όνομα:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required">Το όνομα είναι απαραίτητο</div>
    </div>
  </label>

  <label>
    Περιγραφή:
    <textarea formControlName="description"></textarea>
    <div *ngIf="submitted && messageForm.controls.description.errors" class="error">
      <div *ngIf="messageForm.controls.description.errors.required">Η περιγραφή είναι απαραίτητη</div>
    </div>
  </label>

  <label>
    Κατηγορία:
    <input type="text" formControlName="category">
    <div *ngIf="submitted && messageForm.controls.category.errors" class="error">
      <div *ngIf="messageForm.controls.category.errors.required">Η κατηγορία είναι απαραίτητη</div>
    </div>
  </label>

  <label>
    Tags(παραθέστε στη μορφή α,β,γ):
    <input type="text" formControlName="tags">
    <div *ngIf="submitted && messageForm.controls.tags.errors" class="error">
      <div *ngIf="messageForm.controls.tags.errors.required">Τα tags είναι απαραίτητα</div>
    </div>
  </label>

  <input type="submit" value="Προσθήκη" class="cta">

</form>

<div *ngIf="submitted" class="results">
  <!--<strong>Όνομα:</strong>
  <span>{{ messageForm.controls.name.value }}</span>

  <strong>Περιγραφή:</strong>
  <span>{{ messageForm.controls.description.value }}</span>
  <a [routerLink] ="['/showprod']" [queryParams]="{ d1: prod.id, d2:prod.name, d3: prod.description, d4: prod.category, d5: prod.tags, d6: prod.withdrawn}"></a>-->
</div>
