<div class="ibox">
  <div class="ibox-head">
    <h1 class="ibox-title">Ενημέρωση προϊόντος</h1>
  </div>
  <div class="ibox-body">

    <div *ngIf="!success" >
      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <label>
          Id:
          <input type="text" name="id" value="{{id}}" readonly formControlName="id" class="my-input">
          <div *ngIf="submitted && messageForm.controls.id.errors" class="error">
            <div *ngIf="messageForm.controls.id.errors.required">Το id είναι απαραίτητο</div>
          </div>
        </label>
        <label>
          Όνομα:
          <input type="text" name="name" value="{{name}}" formControlName="name" class="my-input">
          <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Το όνομα είναι απαραίτητο</div>
          </div>
        </label>

        <label>
          Περιγραφή:
          <input type="text" name="description" value="{{description}}" formControlName="description" class="my-input">
          <div *ngIf="submitted && messageForm.controls.description.errors" class="error">
            <div *ngIf="messageForm.controls.description.errors.required">Η περιγραφή είναι απαραίτητη</div>
          </div>
        </label>

        <label>
          Κατηγορία:
          <input type="text" name="category" value="{{category}}" formControlName="category" class="my-input">
          <div *ngIf="submitted && messageForm.controls.category.errors" class="error">
            <div *ngIf="messageForm.controls.category.errors.required">Η κατηγορία είναι απαραίτητη</div>
          </div>
        </label>

        <label>
          Ανενεργό:
          <input type="text" name="withdrawn" value="{{withdrawn}}" readonly formControlName="withdrawn" class="my-input">
          <div *ngIf="submitted && messageForm.controls.withdrawn.errors" class="error">
            <div *ngIf="messageForm.controls.withdrawn.errors.required">Η withdrawn είναι απαραίτητη</div>
          </div>
        </label>

        <label>
          Tags(παραθέστε στη μορφή α,β,γ):
          <input type="text" name="tags" value="{{tags}}" formControlName="tags" class="my-input">
          <div *ngIf="submitted && messageForm.controls.tags.errors" class="error">
            <div *ngIf="messageForm.controls.tags.errors.required">Τα tags είναι απαραίτητα</div>
          </div>
        </label>

        <input type="submit" value="Ενημέρωση" class="cta">

      </form>
    </div>


    <div *ngIf="success" class="results">
      <h1 *ngIf="success"><strong>Τροποποίηση επιτυχής!</strong></h1>
      <h3>Προϊόν:</h3>
      <table class="table table-striped table-bordered table-hover" id="product-table" cellspacing="0" width="30%">
        <tr>
          <th>Id</th>
          <td>{{ prod.id }}</td>
        </tr>
        <tr>
          <th>Όνομα</th>
          <td>{{prod.name }}</td>
        </tr>
        <tr>
          <th>Περιγραφή</th>
          <td>{{prod.description }}</td>
        </tr>
        <tr>
          <th>Κατηγορία</th>
          <td>{{prod.category }}</td>
        </tr>
        <tr>
          <th>Ανενεργό</th>
          <td>{{prod.withdrawn }}</td>
        </tr>
        <tr>
          <th>Tags</th>
          <td>{{prod.tags }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
