<div class="ibox">
  <div class="ibox-head">
    <h1 class="ibox-title">Τιμές</h1>
  </div>
  <div class="ibox-body">
    <div class="search-area">
      <h4 style="text-decoration: underline; margin-top:0;">Φίλτρα αναζήτησης:</h4>

      <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
        <div style="height:350px;">
          <div style="float:left; height:350px; width: 35%; background-color: black;">
            <div id="map" class="map" style="width:100%; height:100%"></div>
          </div>

          <div style="float:left; margin-left: 30px;">
            <mat-tab-group animationDuration="0ms">
              <mat-tab label="Προϊόντα">
                <div class="search-tab">
                  <label *ngIf="myprods">
                    <label *ngFor="let prod of myprods.products" style="padding: 0.3em;">
                      <input type="checkbox" [value]="prod.id" (change)="onProdSelect(prod.id,$event)"> &nbsp; {{ prod.id}} : {{ prod.name }}
                    </label>
                  </label>
                </div>
              </mat-tab>

              <mat-tab label="Καταστήματα">
                <div class="search-tab">
                  <label *ngIf="myshops">
                  <label *ngFor="let shop of myshops.shops" style="padding: 0.3em;">
                    <input type="checkbox" [value]="shop.id" (change)="onShopSelect(shop.id,$event)"> &nbsp; {{ shop.id}} : {{ shop.name }} - {{shop.address}}
                  </label>
                </label>
                </div>
              </mat-tab>

              <mat-tab label="Tags">
                <div class="search-tab">
                  <label>
                    <p>Tags(παραθέστε στη μορφή α,β,γ):</p>
                    <input type="text" name="tags" formControlName="tags" class="my-input">
                    <div *ngIf="submitted && messageForm.controls.tags.errors" class="error">
                      <div *ngIf="messageForm.controls.tags.errors.required">Τα tags είναι απαραίτητα</div>
                    </div>
                  </label>
                </div>
              </mat-tab>

              <!--<mat-tab label="Απόσταση">
                <div class="search-tab">
                  <p>Τα 3 παρακάτω πεδία πρέπει να συμπληρωθούν είτε όλα είτε κανένα:</p>

                  <label>
                    Μέγιστη ακτίνα απόστασης(km):
                    <input type="text" name="geoDist" formControlName="geoDist" class="my-input">
                    <div *ngIf="submitted && messageForm.controls.geoDist.errors" class="error">
                      <div *ngIf="messageForm.controls.geoDist.errors.required">Τα tags είναι απαραίτητα</div>
                    </div>
                  </label>

                  <label>
                    Γεωγραφικό μήκος:
                    <input type="text" name="geoLng" formControlName="geoLng" class="my-input">
                    <div *ngIf="submitted && messageForm.controls.geoLng.errors" class="error">
                      <div *ngIf="messageForm.controls.geoLng.errors.required">Τα tags είναι απαραίτητα</div>
                    </div>
                  </label>

                  <label>
                    Γεωγραφικό πλάτος:
                    <input type="text" name="geoLat" formControlName="geoLat" class="my-input">
                    <div *ngIf="submitted && messageForm.controls.geoLat.errors" class="error">
                      <div *ngIf="messageForm.controls.geoLat.errors.required">Τα tags είναι απαραίτητα</div>
                    </div>
                  </label>
                </div>
              </mat-tab>
              -->

              <mat-tab label="Ημερομηνία">
                <div class="search-tab">
                  <p>Τα 2 παρακάτω πεδία πρέπει να συμπληρωθούν είτε όλα είτε κανένα(default η σημερινή ημερομηνία):</p>

                  <label>
                    Ημερομηνία εκκίνησης:
                    <input type="date" name="dateFrom" formControlName="dateFrom" class="my-input">
                    <div *ngIf="submitted && messageForm.controls.dateFrom.errors" class="error">
                      <div *ngIf="messageForm.controls.dateFrom.errors.required">Τα tags είναι απαραίτητα</div>
                    </div>
                  </label>

                  <label>
                    Ημερομηνία λήξης:
                    <input type="date" name="dateTo" formControlName="dateTo" class="my-input">
                    <div *ngIf="submitted && messageForm.controls.dateTo.errors" class="error">
                      <div *ngIf="messageForm.controls.dateTo.errors.required">Τα tags είναι απαραίτητα</div>
                    </div>
                  </label>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

        <div style="height:80px">
          <div style="float: left;">
            <input type="submit" value="Εφαρμογή Φίλτρων" class="cta" style="margin: 20px;">
          </div>
          <div style="float: right; padding-right: 20px;">
            <button (click)="refresh()" class="cta" style="margin: 20px; background: #960516;">Εκκαθάριση φίλτρων</button>
          </div>
        </div>
      </form>
    </div>

    <br> <br> <br>

    <label>
      Ταξινόμησε:
      <select id="so" (change)="onSortSelect($event)" >
        <option *ngFor="let so of sort" [value]="so">
          {{ so }}
        </option>
      </select>
    </label>
    <br>

    <table *ngIf="pric" class="table table-striped table-bordered center" id="price-table" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th style="width:60px;">Αξία</th>
        <th>Ημερομηνία</th>
        <th>Όνομα προϊόντος</th>
        <th>Tags προϊόντος</th>
        <th>Όνομα καταστήματος</th>
        <th>Tags καταστήματος</th>
        <th>Διεύθυνση καταστήματος</th>
        <th>Απόσταση από προορισμό</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor ="let price of pric.prices | paginate: { itemsPerPage: numItems, currentPage: p, totalItems: total } ">
        <td style="text-align: center; width:60px;">{{ price.price }}</td>
        <td>{{ price.date }}</td>
        <td>{{ price.productName }}</td>
        <td>{{ price.productTags }}</td>
        <td>{{ price.shopName }}</td>
        <td>{{ price.shopTags }}</td>
        <td>{{ price.shopAddress }}</td>
        <td>{{ price.shopDist || 'Δεν υπολογίζεται' }}</td>
      </tr>
      </tbody>
    </table>
    <div>
      <div style="float: left; width: 10%;"><input #box type="number" name="quantity" value ="10" min="1" max="20" (change)= "numItems = box.value"></div>
      <div style="float: left; width: 90%;"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
    </div>
  </div>

    <br>
    <br>

    <a routerLink="/price-new"><button class="btn btn-success pull-right" class="cta" style="margin: 20px;">Πρόσθεσε Τιμή</button></a>
</div>
