.search-area {
  border: 1px solid #631940 ;
  background-color: rgba(142, 34, 92, 0.08);
  padding: 1em;
}

.search-tab {
  padding: 1em;
}

::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bubble {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #631940;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    background: #631940;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    background: #CE5D99;
  }
}




// old sliderrr

.slidecontainer {
  width: 90%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF0000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF0000;
  cursor: pointer;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}
