.search-area {
  border: 1px solid #631940 ;
  background-color: rgba(142, 34, 92, 0.08);
  padding: 1em;
}

.search-tab {
  padding: 1em;
}

::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bubble {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #631940;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    background: #631940;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    background: #CE5D99;
  }
}
