<div class="ibox">
  <div class="ibox-head">
    <h1 class="ibox-title">Κατάστημα:</h1>
  </div>
  <div class="ibox-body">
    <table class="table table-striped table-bordered table-hover" id="product-table" cellspacing="0" width="30%">
      <tbody>
      <tr>
        <th>Id</th>
        <td>{{ id }}</td>
      </tr>
      <tr>
        <th>Όνομα</th>
        <td>{{name }}</td>
      </tr>
      <tr>
        <th>Διεύθυνση</th>
        <td>{{address }}</td>
      </tr>
      <tr>
        <th>Γεωγραφικό μήκος</th>
        <td>{{lng }}</td>
      </tr>
      <tr>
        <th>Γεωγραφικό πλάτος</th>
        <td>{{lat }}</td>
      </tr>
      <tr>
        <th>Ανενεργό</th>
        <td>{{withdrawn }}</td>
      </tr>
      <tr>
        <th>Tags</th>
        <td>{{tags }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
